[flake8]
select = B, E, F, W, B9, ISC
ignore =
    E203
    W503
per-file-ignores =
    src/chomper/__init__.py: F401, F403
    src/chomper/loader/__init__.py: F401
    src/chomper/os/__init__.py: F401
    src/chomper/os/android/__init__.py: F401
    src/chomper/os/ios/__init__.py: F401
exclude =
    venv
max-line-length = 88
